.c-assignmentelements {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5rem;
}

.c-assignmentelement {
    position: relative;
    border: 1px solid var(--global-x-light);
    background: var(--global-dark);
    width: calc(52rem - calc(3rem + 2px));
    // width: calc(100% - calc(3rem + 2px));
    border-radius: 0.5rem;
    padding: 1.5rem;
    z-index: 3;

    // position: relative;
    // background: var(--global-dark);
    // border: 1px solid var(--global-x-light);
    // border-radius: 0.5rem;
    // z-index: 3;
    // padding: 1rem;

    &__button {
        position: absolute;
        z-index: 100;
        top: -1rem;
        right: -1rem;
    }

    &__button2 {
        position: absolute;
        z-index: 100;
        top: -1rem;
        right: 2rem;
    }

    &__symbol {
        stroke: var(--global-x-light);
    }

    &__name {
        color: var(--global-x-light);
        font-size: 1.5rem;
        font-weight: 400;
        margin: 0;
    }

    &__category {
        color: var(--global-x-light);
        font-size: 1rem;
        font-weight: 400;
        margin: 0;
    }

    &__subject {
        color: var(--global-xx-light);
        font-size: 1.5rem;
        font-weight: 400;
        margin: 0;
    }

    &-add {
        border: 1px dashed var(--global-x-light);
        background: none;
        cursor: pointer;

        &:hover {
            opacity: 0.8;
        }
    }

    &__placeholder {
        position: relative;
        background: var(--global-opacity-red);
        border-radius: 0.5rem;
        z-index: 1;
    }

    &__moving {
        cursor: move;
    }
}
