.c-button {
    &__soft {
        all: unset;
        color: var(--global-x-light);
        cursor: pointer;

        &-selected {
            color: var(--global-xx-light);
        }

        &:hover {
            opacity: 0.9;
        }
    }

    &__large {
        all: unset;
        color: var(--global-xx-light);
        background: var(--global-alpha);
        border-radius: 0.5rem;
        padding: 0.75rem 0;
        width: 100%;
        text-align: center;
        cursor: pointer;
    
        &:hover {
            opacity: 0.9;
        }

        &:focus {
            // TODO
            box-shadow: 0 0 4px 2px var(--global-red);
        }
    }

    &__normal {
        all: unset;
        color: var(--global-xx-light);
        background: var(--global-alpha);
        border-radius: 0.5rem;
        padding: 0.5rem 1rem;
        cursor: pointer;
    
        &:hover {
            opacity: 0.9;
        }

        &:focus {
            // TODO
            box-shadow: 0 0 4px 2px var(--global-red);
        }
    }

    &__icon {
        all: unset;
        stroke: var(--global-x-light);
        width: 2rem;
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid transparent;
        border-radius: 0.4rem;
        cursor: pointer;

        &-open {
            width: calc(100% - calc(2.5rem + 4px));
            justify-content: flex-start;
            padding: 0 0.25rem;

            span {
                color: var(--global-light);
                margin-left: 0.5rem;
            }
        }

        &-selected {
            stroke: var(--global-xx-light);
            background: var(--global-x-dark);
            
            span {
                color: var(--global-xx-light);
            }
        }

        &-alpha {
            stroke: var(--global-xx-light);
            background: var(--global-alpha);
            
            span {
                color: var(--global-xx-light);
            }
        }

        &-orange {
            stroke: var(--global-xx-light);
            background: var(--global-orange);
        }
        
        &-empty {
            stroke: var(--global-xx-light);
            border: 2px solid var(--global-light);
        }

        &:hover {
            opacity: 0.9;
        }

        &:focus {
            border: var(--global-focus-border);
            opacity: 0.9;
        }
    }
}
