.c-editor {
    position: relative;
    height: 100%;

    &__container {
        width: 100%;
        height: 100%;
    }

    &__navbar {
        width: 100%;
        background: var(--global-dark);
        padding-top: 0.5rem;
        padding-left: 0.25rem;
    }
}
