.c-input {
    position: relative;

    &__container {
        display: block;
        width: 100%;
        text-align: left;
    }
    
    &__label {
        display: block;
        font-size: 0.75rem;
        margin-bottom: 0.25rem;
    }

    &__symbol {
        width: 1.25rem;
        position: absolute;
        left: 0.5rem;
        top: 0.6rem;
        stroke: var(--global-x-light);
    }

    &__field {
        all: unset;
        color: var(--global-xx-light);
        background: var(--global-x-dark);
        border: 2px solid var(--global-light);
        border-radius: 0.35rem;
        padding: 0.5rem;
        padding-left: 2rem;
        cursor: text;
        width: calc(100% - calc(2.5rem + 4px));

        &:focus {
            border: var(--global-focus-border);
        }
    }

    &__error {
        font-size: 0.75rem;
        color: var(--global-red);
        font-weight: 700;

        &-container {
            position: absolute;
            margin-top: 0.2rem;

            svg {
                stroke: var(--global-red);
                margin-right: 0.25rem;
            }
        }
    }
}

.c-input {
    &__container-error &__field {
        border: 2px solid var(--global-red);
        background: var(--global-opacity-red);
    }
}
