.c-progressbar {
    position: absolute;
    height: 1rem;
    top: 0;
    left: 0;
    bottom: 0;

    &__container {
        position: relative;
        width: 100%;
        height: 1rem;
        background: var(--global-light);
    }

    &__green {
        background: var(--global-green);
    }

    &__orange {
        background: var(--global-orange);
    }

    &__red {
        background: var(--global-red);
    }
}
