.c-select {
    position: relative;

    &__container {
        display: block;
        width: 100%;
        text-align: left;
    }

    &__label {
        display: block;
        font-size: 0.75rem;
        margin-bottom: 0.25rem;
    }

    &__symbol {
        position: absolute;
        right: 0.5rem;
        top: 0.6rem;
        stroke: var(--global-x-light);
        pointer-events: none;
    }

    &__field {
        all: unset;
        color: var(--global-xx-light);
        background: #2C2D30;
        border: 2px solid #5B5E63;
        border-radius: 0.35rem;
        padding: 0.5rem;
        padding-left: 1rem;
        width: calc(100% - calc(1.75rem));

        &[data-selected=""] {
            color: var(--global-light);
        }

        &:focus {
            border: var(--global-focus-border);
        }
    }
}
