.c-test {
    &__container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    &__placeholder {
        position: relative;
        background: var(--global-opacity-red);
        border-radius: 0.5rem;
        z-index: 1;
    }

    &__content {
        position: relative;
        width: calc(52rem - 2rem);
        background: var(--global-dark);
        border: 1px solid var(--global-x-light);
        border-radius: 0.5rem;
        z-index: 3;
        padding: 1rem;
    }

    &__moving {
        cursor: move;
    }
}
