.c-userelements {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 2rem;
}

.c-userelement {
    position: relative;
    border: 1px solid var(--global-x-light);
    background: var(--global-dark);
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 12rem;
    width: 10rem;
    border-radius: 0.5rem;
    cursor: pointer;

    &__container {
        position: relative;
    }

    &__button {
        position: absolute;
        z-index: 100;
        top: -1rem;
        right: -1rem;
    }

    &__symbol {
        stroke: var(--global-x-light);
        margin-bottom: 2rem;
    }

    &__name {
        color: var(--global-x-light);
        font-size: 1rem;
        font-weight: 400;
        margin: 0;
        text-align: center;
    }

    &-add {
        border: 1px dashed var(--global-x-light);
        background: none;
    }

    &__avatar {
        width: 4rem;
        height: 4rem;
        border-radius: 2rem;
        margin-bottom: 2rem;
        overflow: hidden;

        svg {
            width: 100%;
            height: 100%;
        }
    }

    &__me {
        position: absolute;
        font-size: 0.75rem;
        right: 0.5rem;
        bottom: 0.5rem;
        color: var(--global-x-light);
        margin: 0;
    }

    &:hover {
        opacity: 0.8;
    }
}
