.u-color-x-light {
    color: var(--global-x-light);
}

.u-color-xx-light {
    color: var(--global-xx-light);
}

.u-color-alpha {
    color: var(--global-alpha);
}

.u-color-orange {
    color: var(--global-orange);
}

.u-color-green {
    color: var(--global-green);
}

.u-color-orange {
    color: var(--global-orange);
}

.u-color-red {
    color: var(--global-red);
}
