.u-margin-0 {
    margin: 0;
}

.u-margin-top-x-lg {
    margin-top: 4rem;
}

.u-margin-top-lg {
    margin-top: 2rem;
}

.u-margin-top-x-md {
    margin-top: 1.5rem;
}

.u-margin-top-md {
    margin-top: 1rem;
}

.u-margin-bottom-x-lg {
    margin-bottom: 4rem;
}

.u-margin-bottom-lg {
    margin-bottom: 2rem;
}

.u-margin-bottom-x-md {
    margin-bottom: 1.5rem;
}

.u-margin-bottom-md {
    margin-bottom: 1rem;
}

.u-margin-right-x-lg {
    margin-right: 4rem;
}

.u-margin-right-lg {
    margin-right: 2rem;
}

.u-margin-right-md {
    margin-right: 1rem;
}

.u-margin-right-x-md {
    margin-right: 0.75rem;
}

.u-margin-right-sm {
    margin-right: 0.5rem;
}

.u-margin-right-x-sm {
    margin-right: 0.25rem;
}
