:root {
    --global-alpha: #FF605A;

    --global-xx-light: #FFFFFF;
    --global-x-light: #A2A8B0;
    --global-light: #5B5E63;
    --global-dark: #292A2E;
    --global-x-dark: #2C2D30;
    --global-xx-dark: #17181A;
    --global-xxx-dark: #151617;

    --global-red: #FF2D26;
    --global-opacity-red: rgba(255, 45, 38, 0.1);

    --global-orange: #FFBF47;

    --global-opacity-popup: rgba(23, 24, 26, 0.9);

    --global-focus-border: 2px solid var(--global-alpha);
}
